<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<!-- 공통 헤드 -->
<head th:replace="~{layout/head :: head}"></head>

<body>
<main class="wrapper sb-default">
  <!-- Loader -->
  <div id="gi-overlay">
    <div class="loader"></div>
  </div>

  <!-- 공통 헤더 -->
  <div th:replace="~{layout/header :: header}"></div>

  <!-- 공통 사이드바 -->
  <div th:replace="~{layout/sidebar :: sidebar}"></div>

  <!-- main content -->
  <div class="gi-main-content">
    <div class="container-fluid">
      <!-- Page title & breadcrumb -->
      <div class="gi-page-title gi-page-title-2">
        <div class="gi-breadcrumb">
          <h5>Todo</h5>
          <ul>
            <li><a href="index.html">Grabit</a></li>
            <li>Todo</li>
          </ul>
        </div>
      </div>
      <!-- main content start -->
      <!-- main content end -->
    </div>
  </div>

  <!-- 공통 알림 사이드바 -->
  <div th:replace="~{layout/notify-sidebar :: notify-sidebar}"></div>

  <!-- 푸터 -->
  <div th:replace="~{layout/footer :: footer}"></div>

  <!-- Feature tools -->
  <div th:replace="~{layout/feature-tools :: feature-tools}"></div>

</main>

<!-- Vendor Custom -->
<script th:src="@{/assets/js/vendor/jquery-3.6.4.min.js}"></script>
<script th:src="@{/assets/js/vendor/simplebar.min.js}"></script>
<script th:src="@{/assets/js/vendor/bootstrap.bundle.min.js}"></script>
<script th:src="@{/assets/js/vendor/apexcharts.min.js}"></script>
<script th:src="@{/assets/js/vendor/jquery-jvectormap-1.2.2.min.js}"></script>
<script th:src="@{/assets/js/vendor/jquery-jvectormap-world-mill-en.js}"></script>
<script th:src="@{/assets/js/vendor/owl.carousel.min.js}"></script>

<!-- Data Tables -->
<script th:src="@{/assets/js/vendor/jquery.datatables.min.js}"></script>
<script th:src="@{/assets/js/vendor/datatables.bootstrap5.min.js}"></script>
<script th:src="@{/assets/js/vendor/datatables.responsive.min.js}"></script>

<!-- Calendar -->
<script th:src="@{/assets/js/vendor/jquery.simple-calendar.js}"></script>

<!-- Date Range Picker -->
<script th:src="@{/assets/js/vendor/moment.min.js}"></script>
<script th:src="@{/assets/js/vendor/daterangepicker.js}"></script>
<script th:src="@{/assets/js/vendor/date-range.js}"></script>

<!-- Main Custom -->
<script th:src="@{/assets/js/main.js}"></script>
<script th:src="@{/assets/js/data/ecommerce-chart-data.js}"></script>
</body>

</html>