<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="keywords"
        content="admin, dashboard, crm, analytics, ecommerce, team, vendor, ai chat bot, backend, panel"/>
  <meta name="description" content="Traditional Alcohol E-commerce Platform">
  <meta name="author" content="partyguham">

  <title>Party Guham - Admin Page</title>

  <!-- App favicon -->
  <link rel="shortcut icon" th:href="@{/assets/img/favicon/favicon.png
}" sizes="32x32">

  <!-- Icon CSS -->
  <link th:href="@{/assets/css/vendor/materialdesignicons.min.css}" rel="stylesheet">
  <link th:href="@{/assets/css/vendor/remixicon.css}" rel="stylesheet">

  <!-- Vendor CSS -->
  <link th:href="@{/assets/css/vendor/datatables.bootstrap5.min.css}" rel="stylesheet">
  <link th:href="@{/assets/css/vendor/responsive.datatables.min.css}" rel="stylesheet">
  <link th:href="@{/assets/css/vendor/daterangepicker.css}" rel="stylesheet">
  <link th:href="@{/assets/css/vendor/simplebar.css}" rel="stylesheet">
  <link th:href="@{/assets/css/vendor/bootstrap.min.css}" rel="stylesheet">
  <link th:href="@{/assets/css/vendor/apexcharts.css}" rel="stylesheet">
  <link th:href="@{/assets/css/vendor/jquery-jvectormap-1.2.2.css}" rel="stylesheet">

  <!-- Main CSS -->
  <link id="main-css" th:href="@{/assets/css/style.css}" rel="stylesheet">

</head>